.a {
    display: flex;
    align-items : flex-start ;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 32px;
    width: 97.7vw;
}
.b {
    background-color: hsla(0, 6%, 93%, 1);
    display: flex;
    align-items : center ;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 97.7vw;
}
.e {
    text-indent: 6%;
    width: 30vw;
}
.f {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}
.g {
    flex-basis: 47%;
}
.h {
    text-indent: 6.5%;
}
.i {
    text-indent: 9%;
}
.a div:nth-child(3) {
    order: 1;
}